__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
.env
.env.*
*.log
.DS_Store
.git
.gitignore
.github
*.md
LICENSE
tests/
**/tests/
**/*_test.py
**/*test_*.py
coverage/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
docker-compose*.yml
Dockerfile*
docs/
*.egg-info/
dist/
build/
